
//字体大小
$font-zuida:28px;
$font-max:24px;
$font-big:20px;
$font-small:18px;
$font-mini:16px;

//颜色
$main-color:#409EFF;
$vice-color:#acd598;
$vices-color:#155789;
$umen-color:rgba(16,138,255,0.4);
$red-colo:#fc4d4d;

// 字体颜色
$font-dcolor:#ffffff;
$font-color:#666666;
$font-vcolr:#999999;
$font-rcolor:#fb6f6f;

//背景颜色
$cg-color:#ffffff;
$bg-color:#f3f6fb;